html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

// body
body {
    width: 100%;
    max-width: 1500px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    text-align: center;

    font-family:'Times New Roman', Times, serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

// standart margin remover
h1, h2, h3, h4, h5, h6, ul, p {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

// list style remover
ul {
    list-style: none;
}

.section {
    display: inline-block;
    width: 100%;
    max-width: 1000px;
    padding-top: 50px;
    padding-right: 30px;
    padding-left: 30px;
    background: url('./images/bg-pattern.png');
    background-size: 400px 400px;
}

.js-input {
    width: 100%;
    max-width: 1000px;
    height: 50px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    border: solid 2px gray;
    border-radius: 10px;

    margin-bottom: 30px;

    font-size: 20px;

    &:focus {
        outline: none;
    }
}

.list-container {
    width: 100%;
    max-width: 1000px;
}

.contry-info-container {
    display: flex;
    width: 100%;
    max-width: 1000px;
}

.info-title {
    margin-bottom: 50px;
    font-size: 50px;
}

.list {
    display: inline-block;
    width: 100%;
    max-width: 900px;
    padding-left: 25px;
    list-style: initial;
    font-size: 30px;
    text-align: left;

    & :not(:last-child) {
        margin-bottom: 30px;
    }
}

.list-item :not(:last-child) {
    margin-bottom: 20px;
}

.list.contry-info-list {
    max-width: 500px;
    padding: 0;
    list-style: none;
}

.sub-list {
    padding-left: 40px;
    list-style: initial;
    & :not(:last-child) {
        margin-bottom: 10px;
    }
}

.list-content {
    font-size: 30px;
}

.aditional-styling {
    font-weight: 700;
}

.flag-img {
    width: 100%;
    max-width: 500px;
}



